*{
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  font-family: sans-serif;
  border: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a {
  color: #ff6e40;
}

.background {
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-size: cover;
  filter: blur(32px);
}
.background > .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

/* BEGIN robot */
ul.robot li {
  cursor: pointer;
  text-decoration-line: underline;
  margin-left: 24px;
  list-style-type: circle;
}
dl dt {
  font-weight: bold;
}
dl dt:before {
  content: "✔";
  margin: 0 4px;
}
dl dd {
  font-size: 15px;
  margin-left: 24px;
}
dl li {
  font-size: 14px;
  margin-left: 45px;
  list-style-type: circle;
}
/* END robot */

/* BEGIN login */
.loginWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 320px;
  height: 480px;
  background-color: #efefef;
  border-radius: 4px;  -moz-border-radius: 4px;  -webkit-border-radius: 4px;
  box-shadow: 0 2px 10px #999;  -moz-box-shadow: #999 0 2px 10px;  -webkit-box-shadow: #999 0 2px 10px;
  text-align: center;
  color: #000;
  display: block;
}
.loginWrapper .logo{
  margin: 44px auto;
  width: 180px;
  text-align: center;
  cursor: default;
  user-select: none;
}
.loginWrapper .logo > svg{
  width: 150px;
  height: 150px;
  fill: #ff6e40;
  margin: 10px auto;
}
.loginWrapper .nicknameWrapper > a#giveName{
  display: inline-block;
  position: relative;
  font-size: 12px;
}
.loginWrapper .nicknameWrapper > .info{
  color: red;
  font-size: 12px;
  visibility: hidden;
  transition: all 0.3s;
}
.loginWrapper .nicknameWrapper > .nicknameInput, .loginWrapper .nicknameWrapper > .loginBtn{
  padding: 8px;
  border-radius: 20px;
  display: inline-block;
  margin: 6px;
  width: 230px;
  height: 42px;
}
.loginWrapper .nicknameWrapper > .nicknameInput{
  border: 1px solid #999;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s;
}
.loginWrapper .nicknameWrapper > .nicknameInput:focus{
  box-shadow: 0 2px 10px #ccc;
}
.loginWrapper .nicknameWrapper > .loginBtn{
  cursor: pointer;
  background-color: #ff6e40;
  font-size: 16px;
  transition: all 0.2s;
}
.loginWrapper .nicknameWrapper > .loginBtn:hover{
  background-color: #ff8a65;
  box-shadow: 0 2px 10px #ccc;
}
/* END login */

.main {
  display: none;
  position:absolute;
  bottom:0;
  top:0;
  right:0;
  left:0;
  margin:auto;
  width: 860px;
  height: 100%;
  min-height: 580px;
  max-height: 700px;
  background-color: #fff2edab;
}
/* BEGIN userWrapper */
.main > .userWrapper {
  position: absolute;
  float: left;
  width: 25%;
  height: 100%;
  min-width: 200px;
  box-sizing: border-box;
  background-color: #ffffff33;
}
.main > .userWrapper h1#userName {
  padding: 10px;
  user-select: none;
}
.main > .userWrapper > span {
  padding: 10px;
}
/* BEGIN searchBox */
.searchBox {
  background-color: #ffffff44;
  border-radius: 3px;
  padding: 6px;
  margin: 10px;
}
.searchBox input {
  width: 88%;
  background-color: transparent;
  padding: 4px;
  border-radius: 4px;
  box-sizing: border-box;
}
.searchBox svg {
  cursor: pointer;
}
/* END searchBox */
/* BEGIN alert */
.alert {
  position: absolute;
  float: left;
  top: -999px;
  left: 210px;
  opacity: 0;
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  background-color: #ffab91;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.3);
}
.alert::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -8px;
  border: 8px solid #ffab91;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 4px;
  transform: rotate(45deg);
  box-shadow: -1px 2px 1px rgba(0,0,0,0.3);
}
.alert #closeBtn{
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 6px;
  padding: 6px;
  width: 1em;
  height: 1em;
  font-size: 12px;
}
.alert .info > .friendName {
  word-break: break-all;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 0;
}
.alert .info > .status {
  font-size: 12px;
  font-weight: normal;
  color: #444;
}
.alert .action {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 6px 0 4px 0;
  padding: 6px;
  white-space: nowrap;
}
.alert .action > input {
  width: 75%;
  background-color: transparent;
}
.alert .action > button {
  cursor: pointer;
  width: 25%;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding-left: 4px;
  box-sizing: border-box;
}
/* END alert */

/* BEGIN group */
.joinGroup {
  background-color: #ffffff44;
  border-radius: 3px;
  margin: 10px;
  padding: 6px;
}
.joinGroup > .action {
  width: 88%;
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
}
.action > #create, .action #join {
  cursor: pointer;
  width: 50%;
  background-color: transparent;
  transition: all 0.3s;
}
.action > #join {
  border-left: 1px solid #ddd;
}
.action > #create:hover, .action > #join:hover {
  color: #ff6e40;
}
.pwdBox {
  position: absolute;
  float: left;
  top: -999px;
  left: 210px;
  padding: 10px;
  width: 220px;
  opacity: 0;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  background-color: #ffab91;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.3);
}
.pwdBox::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -8px;
  border: 8px solid #ffab91;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 4px;
  transform: rotate(45deg);
  box-shadow: -1px 2px 1px rgba(0,0,0,0.3);
}
.pwdBox > #cancelBtn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 6px;
}
.pwdBox > .intro {
  margin: 0 auto;
  width: 90%;
  color: #555;
}
.pwdBox > #pwd {
  margin: 6px;
  padding: 4px;
  color: #000;
}
.pwdBox > #pwd > input {
  font-size: 20px;
  font-weight: bold;
  width: 26px;
  border-radius: 2px;
  background-color: transparent;
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.pwdBox > .info {
  display: none;
  margin: 6px;
}
.pwdBox > .info > input#duration {
  padding: 0 2px;
  width: 22px;
  font-size: 12px;
  border-radius: 2px;
  background-color: #ffffffe0;
}
.pwdBox > button {
  cursor: pointer;
  width: 90%;
  margin-top: 4px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #ff6e4066;
}
/* END group */
/* BEGIN usersList */
ul.usersList {
  border-top: 1px solid #ff6e40;
}
ul.usersList li {
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid #ff6e40;
}
ul.usersList li.active {
  background-color: #ff6e4011;
  font-weight: bold;
  font-size: 18px;
}
ul.usersList li.unread {
  background-color: #ff6e4099;
}
/* END usersList */
/* END userWrapper */

/* BEGIN chatWrapper */
.main > .chatWrapper {
  float: right;
  width: 75%;
  height: 100%;
}
.chatWrapper .head {
  height: 6%;
  line-height: 160%;
  box-sizing: border-box;
  text-align: center;
  font-size: 22px;
  background-color: #ffffff50;
}
/* BEGIN messageBox */
.messageBox {
  height: 64%;
  overflow-y: auto;
  box-sizing: border-box;
}
/* BEGIN msgToDisplay */
.messageBox .msgToDisplay {
  margin: 5px 2% 5px;
}
.msgToDisplay .msgContent {
  /* 超出框的宽度时，最大程度保留用户的空白符的前提下，进行换行 */
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 6px;
  max-width: 60%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius:  4px;
  text-align: left;
}
.msgToDisplay .msgContent > svg{
  width: 2em;
  height: 2em;
  vertical-align: -0.65em;
}
/* END msgToDisplay */
/* BEGIN fileToDisplay */
.messageBox .fileToDisplay {
  margin: 5px 2% 5px;
}
.fileToDisplay a.fileContent {
  display: inline-block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  user-select: none;
  border: 1px solid #eee;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius:  4px;
  padding: 4px;
}
/* image file */
a.fileContent.imgFile {
  max-width: 60%;
}
/* other file */
a.fileContent.otherFile {
  width: 182px;
  height: 70px;
  text-align: left;
}
.otherFile > p {
  float: left;
  margin: 6px;
}
.otherFile .fileType {
  width: 58px;
  height: 58px;
}
.otherFile .fileType svg {
  width: 100%;
  height: 100%;
}
.otherFile .fileName, .otherFile .fileSize {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100px;
  overflow: hidden;
}
.otherFile .fileName {
  font-size: 14px;
  max-height: 38px;
}
.otherFile .fileSize {
  font-size: 12px;
  color: #787878;
  margin: 0px 6px;
}
/* END fileToDisplay */
/* END messageBox */

/* BEGIN controllers */
.controllers{
  height: 30%;
  min-height: 180px;
  border-top: 1px solid #ffffff33;
  box-sizing: border-box;
}
/* toolsWrapper editWrapper sendWrapper */
.controllers > div {
  padding: 4px 10px;
}
/* BEGIN toolsWrapper */
.toolsWrapper > div {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 2px 4px;
}
.toolsWrapper > div input {
  display: none;
}
.toolsWrapper > div > label > svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
/* BEGIN emoji */
.emojisBox {
  display: none;
  position: relative;
  float: left;
  top: -200px;
  left: -10px;
  width: 280px;
  height: 140px;
  border-radius: 6px;
  padding: 12px;
  background-color: #fff3e0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.emojisBox::after {
  content: '';
  position: absolute;
  top: 158px;
  left: 16px;
  transform: rotate(-45deg);
  border: 6px solid #fff3e0;
  border-radius: 2px;
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.emojisBox > svg {
  cursor: pointer;
  padding: 5px;
  width: 25px;
  height: 25px;
  transition: all 0.2s;
}
.emojisBox > svg:hover {
  transform: scale(1.5);
}
/* END emoji */
/* END toolsWrapper */
/* BEGIN editWrapper */
.editWrapper{
  height: 48%;
  min-height: 80px;
  overflow-y: auto;
}
.editWrapper > pre {
  height: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x:  hidden;
  overflow-y: auto;
}
/* END editWrapper */
/* BEGIN sendWrapper */
.sendWrapper span {
  float: left;
  color: #555;
  font-size: 13px;
  padding: 5px 0;
}
.sendWrapper .sendBtn {
  float: right;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
/* END sendWrapper */
/* END controlllers */
/* END chatWrapper */

footer {
  text-align: center;
}